{% load static %}

    <h2>A Leaflet map in Django with model-backed geoJSON data</h2>
    <p>As documented in <a href="https://heds.nz/posts/leaflet-maps-django-geojson/">this blog post</a>.</p>

    <header>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""/>

            <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
        </script>
    </header>
    
    <body>
        <div id="mapid" style='height: 500px'></div>
    </body>
    
    <script>
        var mymap = L.map('mapid').setView([-41.3, 174.74], 12);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{MAPBOX_TOKEN|escapejs}}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: '{{MAPBOX_TOKEN|escapejs}}'
        }).addTo(mymap);

        var raw_data = '{{locations|escapejs}}';
        var data = JSON.parse(raw_data);
        L.geoJSON(data).addTo(mymap);
    </script>
